.custom-tabs {
    background-color: #1E2130;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    height: fit-content;
    cursor: pointer;
  }

#tab_1.custom-tab, #tab_2.custom-tab, #tab_3.custom-tab {
    background-color: #161a28;
    letter-spacing: 3px;
    color: inherit;
    border: 0;
    border-bottom: #1E2130 solid 6px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
  }
  
#tab_1.custom-tab--selected, #tab_2.custom-tab--selected, #tab_3.custom-tab--selected {
    border-bottom: #91dfd2 solid 4px !important;
  }